Repository azisaba/SpicyAzisaTicket, pull requests merged in 2022-06, with the labels that each got.

#8 fix: Dependabot version updateの設定ファイルで発生していたschema validationの修正
  .github/dependabot.yml
Labels: bug

#9 fix: commit-message.prefix
  .github/dependabot.yml
Labels: bug

#13 docs: Readmeの修正
  README.md
Labels: documentation

#14 Ci/ghcr.io push
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Labels: workflows

#21 chore: コマンド情報の追加
  README.md
  command/info_slash_command.json
  command/request_slash_command.json
  command/ticket_slash_command.json
  command/user_slash_command.json
Labels: enhancement
